#body{
  display:none;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}
.bitclothingshop-container {
  min-height: 100vh;
}
.bitclothingshop-bitclothingshop {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background: radial-gradient(70.56% 70.56% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 20, 34, 0.62) 72.92%);
}
.bitclothingshop-bckradial {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.bitclothingshop-mainshop {
  top: 0px;
  left: 43px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-menuselector {
  top: 16vh;
  left: 0rem;
  width: 76rem;
  height: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.bitclothingshop-torso2 {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-torso2 span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-torso2:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e25181762 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-emojionemonotonewomansclothes {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-badge {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-badge span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-badge:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817621 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-mdibadge {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-undershirt {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-undershirt span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-undershirt:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817622 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-phtshirtfill {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-accessory {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-accessory span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-accessory:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-hat {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-hat span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-hat:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-glasses {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-glasses span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-glasses:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-earrings {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-earrings span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-earrings:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-watch {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-watch span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-watch:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-bracelet {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-bracelet span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-bracelet:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817623 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-gameiconsbowtie {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-shoes {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-shoes span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-shoes:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817624 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-gameiconsconverseshoe {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-bag {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-bag span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-bag:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817625 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-fluentbackpack48filled {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-leg {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-leg span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-leg:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817626 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-iconparksolidclothespantsshort {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-maskgroup {
  top: 23px;
  left: 11.499999046325684px;
  width: 69px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-group {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-group1 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-vector {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 46px;
  position: absolute;
}
.bitclothingshop-vector1 {
  top: 0px;
  left: 26.83333396911621px;
  width: 13px;
  height: 14px;
  position: absolute;
}
.bitclothingshop-vector2 {
  top: 0px;
  left: 23px;
  width: 23px;
  height: 0px;
  position: absolute;
}
.bitclothingshop-vector3 {
  top: -23px;
  left: -11.499999046325684px;
  width: 92px;
  height: 92px;
  position: absolute;
  display: none;
}
.bitclothingshop-torso {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-torso span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-torso:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-healthiconsarm {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
.bitclothingshop-i-m-a-g-e251817627 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-mask {
  width: 3rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0.7rem;
  background-image: linear-gradient(180deg, rgba(11, 18, 28, 1) 0%, rgba(11, 20, 34, 1) 100%);
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: width 0.5s;
}
.bitclothingshop-mask span{
  color: rgba(255, 255, 255, 1);
  width:10rem;
  height: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 0.4rem;
  left: 2.5rem;
}
.bitclothingshop-mask:hover{
  width:13rem;
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-i-m-a-g-e251817628 {
  top: 0rem;
  left: -2rem;
  width: 14rem;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-gameiconsjasonmask {
  top: 0.5rem;
  left: 0.5rem;
  width: auto;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}

.bitclothingshop-text12 {
  top: 14px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-iconparksolidclothespantsshort1 {
  top: 9px;
  left: 20px;
  width: 62px;
  height: 62.000003814697266px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.bitclothingshop-maskgroup1 {
  top: 15.500000953674316px;
  left: 7.75px;
  width: 46.500003814697266px;
  height: 31.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-group2 {
  top: 0px;
  left: 0px;
  width: 46.500003814697266px;
  height: 31.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-group3 {
  top: 0px;
  left: 0px;
  width: 46.500003814697266px;
  height: 31.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-vector4 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 31px;
  position: absolute;
}
.bitclothingshop-vector5 {
  top: 0px;
  left: 18.08333396911621px;
  width: 9px;
  height: 10px;
  position: absolute;
}
.bitclothingshop-vector6 {
  top: 0px;
  left: 15.500000953674316px;
  width: 16px;
  height: 0px;
  position: absolute;
}
.bitclothingshop-vector7 {
  top: -15.500000953674316px;
  left: -7.75px;
  width: 62px;
  height: 62px;
  position: absolute;
}
.itemimage{
  position: absolute;
  left: 40%;
  top: 3rem;
  height: 107%;
  width: auto;
  -webkit-transform: translate(-47%,-50%);
}

.bitclothingshop-selector {
  top: 0px;
  right: 0rem;
  width: 552px;
  height: 100vh;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(11, 20, 34, 0.699999988079071);
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.bitclothingshop-text18 {
  top: 15px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 440px;
  height: auto;
  position: absolute;
  font-size: 74px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bitclothingshop-itemslist {
  top: 8rem;
  left: 13px;
  width: 30rem;
  height: 73%;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.bitclothingshop-itemselection {
  top: 9px;
  left: 13px;
  width: 103px;
  height: 103px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  /*background-color: rgba(21, 31, 47, 0.8799999952316284);*/
  background: transparent url('./public/playground_assets/loading.png') center no-repeat;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.7rem;
  margin-bottom: .7rem;
}
.bitclothingshop-itemselectionempty{
  top: 9px;
  left: 13px;
  width: 103px;
  height: 103px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(21, 31, 47, 0.8799999952316284);
  cursor: pointer;
  display: inline-block;
  margin-left: 0.7rem;
  margin-bottom: .7rem;
}
.bitclothingshop-itemselection:hover{
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
          animation: heartbeat 2s ease-in-out infinite both;
}
.bitclothingshop-footerselector {
  bottom: 2rem;
  left: 30px;
  width: 522px;
  height: 113px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-restore {
  top: 8px;
  left: 0px;
  width: 232px;
  height: 47px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(33, 39, 47, 0.8799999952316284);
  cursor: pointer;
}
.bitclothingshop-restore:hover{
    background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(33, 39, 47, 0.8799999952316284) 0%, rgba(33, 39, 47, 0.8799999952316284) 100%);
}
.bitclothingshop-text20 {
  top: 3px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-buy {
  top: 63px;
  left: 0px;
  width: 232px;
  height: 47px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(21, 31, 47, 0.8799999952316284);
  cursor: pointer;
}
.bitclothingshop-buy:hover{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(21, 31, 47, 0.8799999952316284) 0%, rgba(21, 31, 47, 0.8799999952316284) 100%);
}
.bitclothingshop-text22 {
  top: 3px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-separatorvert {
  top: 5px;
  left: 251px;
  width: 2px;
  height: 108px;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-amount {
  top: 0px;
  left: 281px;
  width: 241px;
  height: 101px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bitclothingshop-text24 {
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 74px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bitclothingshop-text26 {
  top: 17px;
  color: rgba(129, 129, 129, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bitclothingshop-mainmode {
  top: 26vh;
  left: 61vh;
  width: 675px;
  height: 545px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;  
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.bitclothingshop-closet {
  top: 0px;
  left: 0px;
  width: 307px;
  height: 545px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  cursor: pointer;
}
.bitclothingshop-closet:hover .bitclothingshop-frame6{
    background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 20, 34, 0.699999988079071) 0%, rgba(11, 20, 34, 0.699999988079071) 100%);
}
.bitclothingshop-frame6 {
  top: 0px;
  left: 72px;
  width: 235px;
  height: 465px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
}
.bitclothingshop-text27 {
  top: 7px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-armario1 {
  top: 62px;
  left: 0px;
  width: 307px;
  height: 483px;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-shop {
  top: 0px;
  left: 351px;
  width: 324px;
  height: 507px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  cursor: pointer;
}
.bitclothingshop-shop:hover .bitclothingshop-frame61{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 20, 34, 0.699999988079071) 0%, rgba(11, 20, 34, 0.699999988079071) 100%);
}
.bitclothingshop-frame61 {
  top: 0px;
  left: 0px;
  width: 235px;
  height: 465px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
}
.bitclothingshop-text29 {
  top: 7px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-clothshop1 {
  top: 38px;
  left: 0px;
  width: 324px;
  height: 469px;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-mainpayment {
  top: 26vh;
  left: 49vh;
  width: 957px;
  height: 526px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.bitclothingshop-bank {
  top: 0px;
  left: 0px;
  width: 435px;
  height: 526px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  cursor: pointer;
}
.bitclothingshop-bank:hover .bitclothingshop-frame62{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 20, 34, 0.699999988079071) 0%, rgba(11, 20, 34, 0.699999988079071) 100%);
}
.bitclothingshop-frame62 {
  top: 0px;
  left: 200px;
  width: 235px;
  height: 465px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
}
.bitclothingshop-text31 {
  top: 7px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-t-p-v1 {
  top: 19px;
  left: 0px;
  width: 435px;
  height: 507px;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-cash {
  top: 0px;
  left: 479px;
  width: 478px;
  height: 526px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  cursor: pointer;
}
.bitclothingshop-cash:hover .bitclothingshop-frame63{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 20, 34, 0.699999988079071) 0%, rgba(11, 20, 34, 0.699999988079071) 100%);
}
.bitclothingshop-frame63 {
  top: 0px;
  left: 0px;
  width: 235px;
  height: 465px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
}
.bitclothingshop-text33 {
  top: 7px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-money1 {
  top: 19px;
  left: 0px;
  width: 478px;
  height: 507px;
  position: absolute;
  border-color: transparent;
}
.bitclothingshop-maincloset {
  top: 27vh;
  left: 39px;
  width: 441px;
  height: 591px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.bitclothingshop-text35 {
  top: 14px;
  color: rgba(255, 255, 255, 1);
  width: 441px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-outfitslist {
  top: 106px;
  left: 11px;
  width: 417px;
  height: 405px;
  display: block;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bitclothingshop-outfititem {
  top: 0px;
  left: 0px;
  width: 418px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.10000000149011612);
  cursor: pointer;
}
.bitclothingshop-outfititem:hover{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.11) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
}
.trash{
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}
.bitclothingshop-text37 {
  top: 5px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  width: 381px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-buttondressup {
  top: 524px;
  left: 103px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.30000001192092896);
  cursor: pointer;
}
.bitclothingshop-buttondressup:hover{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(255, 255, 255, 0.30000001192092896) 0%, rgba(255, 255, 255, 0.30000001192092896) 100%);
}
.bitclothingshop-text39 {
  top: 6px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-mainsave {
  top: 44vh;
  left: 72vh;
  width: 482px;
  height: 161px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(11, 18, 28, 0.699999988079071);
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.bitclothingshop-text41 {
  color: rgba(255, 255, 255, 1);
  width: 482px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.bitclothingshop-input {
  top: 78px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 355px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  font-size: 29px;
  text-align: center;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Poppins;
  font-weight: 400;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6200000047683716);
}
.bitclothingshop-input:focus{
  outline: none;
}
.bitclothingshop-buttonsave {
  top: 77px;
  left: 385px;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(11, 18, 28, 1);
  cursor: pointer;
}
.bitclothingshop-buttonsave:hover{
  background: linear-gradient(45deg, rgba(237, 15, 81, 0.14) 8.2%, rgba(237, 15, 81, 0) 78.63%), linear-gradient(180deg, rgba(11, 18, 29, 0.88) 0%, rgba(11, 20, 34, 0.88) 100%);
}
.bitclothingshop-materialsymbolscheck {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
}

.move-container {
  min-height: 100vh;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.move-move {
  width:9rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
  top: 59rem;
  left: 52rem;
}
.move-camera {
  top: 0.5rem;
  left: 3.7rem;
  width: 32px;
  height: 32px;
  position: absolute;
}
.move-left {
  top: 0.5rem;
  left: 0.5rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}
.move-right {
  top: 0.5rem;
  left: 6.7rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}
.loading-loading {
  width: 295px;
  height: 79px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
  top: 87vh;
  left: 79vh;
}
.loading-text {
  top: 7px;
  left: 11px;
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loading-text2 {
  top: 7px;
  left: 143px;
  color: rgba(255, 255, 255, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loading-text4 {
  top: 43px;
  left: 35px;
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loading-text5 {
  top: 43px;
  left: 119px;
  color: rgba(255, 255, 255, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loading-text6 {
  top: 43px;
  left: 142px;
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.camera-container {
  min-height: 100vh;
}
.camera-camera {
  width: 13rem;
  height: 3rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(11, 20, 34, 0.699999988079071);
  bottom: 2rem;
  left: 50rem;
}
.camera-makishoe {
  top: 0.5rem;
  left: 10rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}
.camera-pants {
  top: 0.5rem;
  left: 7rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}
.camera-shirt {
  top: 0.5rem;
  left: 4rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}
.camera-head {
  top: 0.5rem;
  left: 1rem;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor:pointer;
}




::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #131313b3;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (width:1920px) {
  .bitclothingshop-menuselector {
    top: 8vh;
  }
}