@media (width: 5120px) and (height: 1440px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 14vh;
    }
    .clothing-menu-option.r2-box {
        height: 20vh;
    }
    .clothing-menu-option.r3-box {
        height: 27vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 37vh;
    }
    .clothing-menu-option.r4-box {
        height: 43vh;
    }
    .clothing-menu-option.r10-box {
        height: 75vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 3vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 46vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 29vh;
    }
    .clothing-menu-option-item-left {
        height: 55%;
    }
    .clothing-menu-option-item-right {
        height: 55%;
    }
    .item-number {
        height: 55%;
        left: 5vh;
    }
    .slider {
        top: 1.65em!important;
    }
}
@media (width: 3840px) and (height: 2160px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 13vh;
    }
    .clothing-menu-option.r2-box {
        height: 20vh;
    }
    .clothing-menu-option.r3-box {
        height: 27vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 36vh;
    }
    .clothing-menu-option.r4-box {
        height: 43vh;
    }
    .clothing-menu-option.r10-box {
        height: 75vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 3vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 44vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 28vh;
    }
    .clothing-menu-option-item-left {
        height: 55%;
    }
    .clothing-menu-option-item-right {
        height: 55%;
    }
    .item-number {
        height: 55%;
        left: 5vh;
    }
    .clothing-menu-container {
        width: 35vh;
    }
    .item-number {
        left: 4.4vh;
        width: 31%;
    }
    .slider {
        top: 2em!important;
        height: 50%;
        width: 100%;
    }
    .slider::-webkit-slider-thumb {
        height: 54px;
        width: 30px;
    }
    .swatch {
        width: 43.2px;
        height: 43.2px;
    }
    .clothing-menu-option-item {
        height: 114px;
    }
    .item-color {
        height: auto;
    }
    .clothing-menu-header-remove-btn {
        top: 19.3vh;
    }
    .png-icon {
        margin-top: 14px;
    }
}
@media (width: 3840px) and (height: 1080px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 24vh;
    }
    .clothing-menu-option.r3-box {
        height: 31vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 51vh;
    }
    .clothing-menu-option.r4-box {
        height: 59vh;
    }
    .clothing-menu-option.r10-box {
        height: 91vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 71vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 70vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 42vh;
    }
}
@media (width: 3840px) and (height: 1440px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 14vh;
    }
    .clothing-menu-option.r2-box {
        height: 20vh;
    }
    .clothing-menu-option.r3-box {
        height: 27vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 37vh;
    }
    .clothing-menu-option.r4-box {
        height: 43vh;
    }
    .clothing-menu-option.r10-box {
        height: 75vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 3vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 46vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 29vh;
    }
    .clothing-menu-option-item-left {
        height: 55%;
    }
    .clothing-menu-option-item-right {
        height: 55%;
    }
    .item-number {
        height: 55%;
        left: 5vh;
    }
    .slider {
        top: 1.65em!important;
    }
    .clothing-menu-container {
        width: 38vh;
    }
}
@media (width: 2560px) and (height: 1440px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 14vh;
    }
    .clothing-menu-option.r2-box {
        height: 20vh;
    }
    .clothing-menu-option.r3-box {
        height: 27vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 37vh;
    }
    .clothing-menu-option.r4-box {
        height: 43vh;
    }
    .clothing-menu-option.r10-box {
        height: 75vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 3vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 46vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 29vh;
    }
    .clothing-menu-option-item-left {
        height: 55%;
    }
    .clothing-menu-option-item-right {
        height: 55%;
    }
    .item-number {
        height: 55%;
        left: 5vh;
    }
    .slider {
        top: 1.65em!important;
    }
}
@media (width: 2560px) and (height: 1080px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 24vh;
    }
    .clothing-menu-option.r3-box {
        height: 31vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 51vh;
    }
    .clothing-menu-option.r4-box {
        height: 59vh;
    }
    .clothing-menu-option.r10-box {
        height: 91vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 71vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 70vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 42vh;
    }
}

@media (width: 1920px) and (height: 1440px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 14vh;
    }
    .clothing-menu-option.r2-box {
        height: 20vh;
    }
    .clothing-menu-option.r3-box {
        height: 27vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 37vh;
    }
    .clothing-menu-option.r4-box {
        height: 43vh;
    }
    .clothing-menu-option.r10-box {
        height: 75vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 3vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 46vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 29vh;
    }
    .clothing-menu-option-item-left {
        height: 55%;
    }
    .clothing-menu-option-item-right {
        height: 55%;
    }
    .item-number {
        height: 55%;
        left: 5vh;
    }
    .slider {
        top: 1.65em!important;
    }
}

@media (width: 1920px) and (height: 1200px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 14vh;
    }
    .clothing-menu-option.r2-box {
        height: 22vh;
    }
    .clothing-menu-option.r3-box {
        height: 30vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 44vh;
    }
    .clothing-menu-option.r4-box {
        height: 52vh;
    }
    .clothing-menu-option.r10-box {
        height: 84vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 59vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 36vh;
    }
}

/* (1920x1080) for 1080p Full HD / FHD Display */
@media (width: 1920px) and (height: 1080px)  {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 24vh;
    }
    .clothing-menu-option.r3-box {
        height: 32vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 51vh;
    }
    .clothing-menu-option.r4-box {
        height: 59vh;
    }
    .clothing-menu-option.r10-box {
        height: 91vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
}

/* (1280x720) for 720p HD Display */
@media (width: 1680px) and (height: 1050px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 24vh;
    }
    .clothing-menu-option.r3-box {
        height: 32vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 51vh;
    }
    .clothing-menu-option.r4-box {
        height: 64vh;
    }
    .clothing-menu-option.r10-box {
        height: 93vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 79vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 46vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 55vh;
    }
    .clothing-menu-container {
        width: 36vh;
    }
    .item-number {
        left: 4.7vh;
    }
}

/* (1280x720) for 720p HD Display */
@media (width: 1600px) and (height: 1200px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 22vh;
    }
    .clothing-menu-option.r3-box {
        height: 30vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 48vh;
    }
    .clothing-menu-option.r4-box {
        height: 55vh;
    }
    .clothing-menu-option.r10-box {
        height: 84vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 65vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 39vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 55vh;
    }
    .clothing-menu-container {
        width: 36vh;
    }
    .item-number {
        left: 4.7vh;
    }
}
/* (1280x720) for 720p HD Display */
@media (width: 1600px) and (height: 1024px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 22vh;
    }
    .clothing-menu-option.r3-box {
        height: 32vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 56vh;
    }
    .clothing-menu-option.r4-box {
        height: 65vh;
    }
    .clothing-menu-option.r10-box {
        height: 95vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 81vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 48vh;
    }
    .clothing-menu-container {
        width: 37vh;
    }
    .item-number {
        left: 4.7vh;
    }
}

@media (width: 1600px) and (height: 900px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 16vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 34vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 62vh;
    }
    .clothing-menu-option.r4-box {
        height: 72vh;
    }
    .clothing-menu-option.r10-box {
        height: 104vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 90vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 53vh;
    }
    .clothing-menu-container {
        width: 37vh;
    }
    .item-number {
        left: 4.7vh;
    }
    .slider {
        top: 3.3em !important;
    }
}

@media (width: 1440px) and (height: 900px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 16vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 34vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 62vh;
    }
    .clothing-menu-option.r4-box {
        height: 72vh;
    }
    .clothing-menu-option.r10-box {
        height: 104vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 90vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 53vh;
    }
    .clothing-menu-container {
        width: 37vh;
    }
    .item-number {
        left: 4.7vh;
    }
    .slider {
        top: 3.3em !important;
    }
}

@media (width: 1366px) and (height: 768px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 18vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 38vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 70vh;
    }
    .clothing-menu-option.r4-box {
        height: 82vh;
    }
    .clothing-menu-option.r10-box {
        height: 118vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 103vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 60vh;
    }
    .clothing-menu-container {
        width: 43vh;
    }
    .item-number {
        left: 5.7vh;
    }
    .clothing-menu-header-remove-btn {
        top: 9.3vh;
    }
}

@media (width: 1360px) and (height: 768px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 18vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 38vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 70vh;
    }
    .clothing-menu-option.r4-box {
        height: 82vh;
    }
    .clothing-menu-option.r10-box {
        height: 118vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 103vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 60vh;
    }
    .clothing-menu-container {
        width: 43vh;
    }
    .item-number {
        left: 5.7vh;
    }
    .clothing-menu-header-remove-btn {
        top: 9.3vh;
    }
}

@media (width: 1280px) and (height: 1024px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 15vh;
    }
    .clothing-menu-option.r2-box {
        height: 22vh;
    }
    .clothing-menu-option.r3-box {
        height: 32vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 56vh;
    }
    .clothing-menu-option.r4-box {
        height: 65vh;
    }
    .clothing-menu-option.r10-box {
        height: 95vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 81vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 48vh;
    }
    .clothing-menu-container {
        width: 37vh;
    }
    .item-number {
        left: 4.7vh;
    }
}

@media (width: 1280px) and (height: 960px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 16vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 34vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 62vh;
    }
    .clothing-menu-option.r4-box {
        height: 72vh;
    }
    .clothing-menu-option.r10-box {
        height: 104vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 90vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 53vh;
    }
    .clothing-menu-container {
        width: 36vh;
    }
    .item-number {
        left: 4.7vh;
    }
    .slider {
        top: 3.3em !important;
    }
}

@media (width: 1280px) and (height: 800px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 17vh;
    }
    .clothing-menu-option.r2-box {
        height: 25vh;
    }
    .clothing-menu-option.r3-box {
        height: 38vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 68vh;
    }
    .clothing-menu-option.r4-box {
        height: 80vh;
    }
    .clothing-menu-option.r10-box {
        height: 114vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 99vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 58vh;
    }
    .clothing-menu-container {
        width: 41vh;
    }
    .item-number {
        left: 5.2vh;
    }
    .slider {
        top: 3.3em !important;
    }
    .clothing-menu-header-remove-btn {
        top: 10.3vh;
    }
}
@media (width: 1280px) and (height: 768px) {
    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 17vh;
    }
    .clothing-menu-option.r2-box {
        height: 28vh;
    }
    .clothing-menu-option.r3-box {
        height: 38vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 71vh;
    }
    .clothing-menu-option.r4-box {
        height: 82vh;
    }
    .clothing-menu-option.r10-box {
        height: 117vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 103vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 60vh;
    }
    .clothing-menu-container {
        width: 43vh;
    }
    .item-number {
        left: 5.6vh;
    }
    .slider {
        top: 3.3em !important;
    }
    .clothing-menu-header-remove-btn {
        top: 10.3vh;
    }
}
@media (width: 1280px) and (height: 720px) {
    .clothing-menu-header-remove-btn {
        top: 8.3vh;
    }

    .clothing-menu-option-item-left {
        height: 50%;
    }
    .clothing-menu-option-item-right {
        height: 50%;
    }

    .clothing-menu-option.r0-box .clothing-menu-option-item-left, .clothing-menu-option.r0-box .clothing-menu-option-item-right, .clothing-menu-option.r0-box .item-number {
        bottom: 1vh;
    }

    /* all box sizes */
    .clothing-menu-option.r0-box {
        height: 11vh;
    }
    .clothing-menu-option.r1-box {
        height: 18vh;
    }
    .clothing-menu-option.r2-box {
        height: 29vh;
    }
    .clothing-menu-option.r3-box {
        height: 41vh;
    }
    .clothing-menu-option.r3-c1-box {
        height: 60vh;
    }
    .clothing-menu-option.r3-c0-box {
        height: 75vh;
    }
    .clothing-menu-option.r4-box {
        height: 87vh;
    }
    .clothing-menu-option.r10-box {
        height: 124vh;
    }
    .clothing-menu-option-header {
        padding: 0.8vh 0.08vh 0.8vh 0.08vh;
    }
    .clothing-menu-header-camera-btn {
        height: 40%;
        width: 15%;
    }
    .left-right-icon-size {
        font-size: 2vh;
        line-height: 2vh;
        vertical-align: -0.6vh;
    }
    .clothing-menu-header-cameras {
        left: -4.8vh;
    }
    .clothing-menu-header-camera-btn>i {
        font-size: 2vh;
    }
    .clothing-menu-option.r2-c2-box {
        height: 108vh;
    }
    .clothing-menu-option.r2-c1-box {
        height: 63vh;
    }
    .clothing-menu-container {
        width: 46vh;
    }
    .item-number {
        left: 6vh;
        height: 50%;
    }
    .slider {
        top: 3.5em !important;
    }
    .left-right-icon-size {
        font-size: 2.2vh;
        vertical-align: -1.0vh;
    }
    
}